
.home h2{
    margin-bottom: 10px;
    font-size: xxx-large;
    text-transform:uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.postCollation ul{
    padding: 0;
    list-style-type: none;
}

.postCollation ul:after{
    content: "";
    clear: both;
    display: block;
}

.postCollation li{
    float: left;
    width: 30%;
    padding: 0;
    margin: 2px 0 2px 3%;
}
@media screen and (max-width: 760px){
    .postCollation li{
        width: 46%;
    }
}
@media screen and (max-width: 480px){
    .postCollation li{
        width: 95%;
        height: 95%;
    }
}

